body {
  background-color: rgb(246, 138, 156);

}

.navTitle {
  font-weight: 900;
  font-size: xx-large;
}

.blogBox {
  margin-top: 8px;
  border-style: solid;
}

.blogTitle {
  text-decoration: none;
  color: rgb(235, 235, 235);
}

.blogDesc {
  border-style: solid;
  margin-bottom: 5px;
  padding: 2px;
  background-color: rgb(246, 138, 156);
}

.blogDescMain {
  font-weight: 700;
}

.blogDescTwo {
  font-size: 25px;
}

.blogInput {
  font-weight: bold;
  font-size: 12px;
  padding: 5px;
  color: rgb(235, 235, 235);
}

.blogBoxCont {
	margin-top: 10px;
  border-style: solid;
  background-color: rgb(246, 138, 156);
}

.formCont {
  margin-top: 10px;
  max-width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.commentCont {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  max-width: 75%;
  background-color: rgb(246, 138, 156);
}

.commentOwner {
  font-size: 14px;
}

.btnComment {
  margin-top: 10px;
}

.commentText {
  font-weight: bold;
  padding-top: 10px;
  background-color: rgb(246, 138, 156);
}

.commentCont {
  border-style: dashed;
}

.headerRow {
  background-color: black;
  margin-bottom: 10px;
}

a:link {
  color: rgb(216, 226, 215);
}
a:visited {
  color: rgb(114, 39, 51);
}

a:hover {
  color: rgb(145, 145, 228);
}

.logout {
  background-color: darkgoldenrod;
}

.login{
	margin-left: 25px;
}

.signup{
	margin-left: 25px;
}

.form-group{
	margin-top: 10px;
}